<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));"> 
<!-- ссылки на картинки (Direct Link) вставить в src="" --> 
<img src="" />
<img src="" />
<img src="" />
</div>